basedpyright==1.31.1
freetype-py==2.5.1
lxml==6.0.0
military-symbol==2.0.2
nodejs-wheel-binaries==22.18.0
numpy==2.3.2
pygame-ce==2.5.5
pygame_gui==0.6.14
python-i18n==0.3.9
PyYAML==6.0.2
RapidFuzz==3.13.0
scipy==1.16.1
svgpathtools==1.7.1
svgwrite==1.4.3
thefuzz==0.22.1
typing_extensions==4.14.1
